<button
  onclick={{action "click"}}
  disabled={{disabled}}
  data-test-id={{data-test-id}}
  class="
    leading-tight inline-block mb3 pointer f5 pv2 ph3 br2 fw3 bn bg-blue white
    {{if disabled 'o-50' 'dim'}}
    ">

  {{#if task.isRunning}}
    <div class="dib mr1">
      {{ui-spinner}}
    </div>
  {{/if}}

  {{yield}}
</button>
