<button
  onclick={{action "click"}}
  disabled={{disabled}}
  data-test-id={{data-test-id}}
  type={{type}}
  class="
    leading-tight inline-block
    mb-4 pointer text-base py-2 px-3 rounded font-light border-0
    bg-blue text-white
    {{if disabled 'opacity-50' 'dim'}}
    ">

  {{#if task.isRunning}}
    <div class="inline-block mr-1">
      {{ui-spinner}}
    </div>
  {{/if}}

  {{yield}}
</button>
