<div class="flex items-center justify-between">
  <h1>Users</h1>

  {{#ui-button onClick=(action (mut isShowingAddUser) true)}}
    Add user
  {{/ui-button}}
</div>

{{#if model}}
  <table class='leading-tight'>
    <thead>
      <tr>
        <th>
          <a href="#">First name</a>
        </th>
        <th>
          <a href="#">Last name</a>
        </th>
        <th>
          <a href="#">Email</a>
        </th>
        <th class="text-right">
          <a href="#">Age</a>
        </th>
      </tr>
    </thead>
    <tbody>

      {{#each model as |user|}}
        <tr class="group">
          <td>
            {{user.firstName}}
          </td>
          <td>
            {{user.lastName}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td class="text-right">
            {{user.age}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}

  <p>No users yet!</p>

{{/if}}

{{#if isShowingAddUser}}
  {{#ui-modal onClose=(action (mut isShowingAddUser) false) as |modal|}}
    <h1 class='text-grey-darkest text-2xl p-0 m-0'>
      Add a user
    </h1>

    {{#ui-form class="mt-6" as |form|}}

      {{#form.group as |group|}}
        <div class="flex items-center">
          <div class="w-1/5 text-right pr-4">
            {{#group.label class="mb-2 block text-grey-darker"}}
              First name
            {{/group.label}}
          </div>
          <div class="w-4/5">
            {{group.input
              class="mb-2 p-2 border rounded block w-full"
              placeholder="Alice"}}
          </div>
        </div>
      {{/form.group}}

      {{#form.group as |group|}}
        <div class="flex items-center">
          <div class="w-1/5 text-right pr-4">
            {{#group.label class="mb-2 block text-grey-darker"}}
              Last name
            {{/group.label}}
          </div>
          <div class="w-4/5">
            {{group.input
              class="mb-2 p-2 border rounded block w-full"
              placeholder="Smith"}}
          </div>
        </div>
      {{/form.group}}

      {{#form.group as |group|}}
        <div class="flex items-center">
          <div class="w-1/5 text-right pr-4">
            {{#group.label class="mb-2 block text-grey-darker"}}
              Email
            {{/group.label}}
          </div>
          <div class="w-4/5">
            {{group.input
              type="email"
              class="mb-2 p-2 border rounded block w-full"
              placeholder="alice@acme.com"}}
          </div>
        </div>
      {{/form.group}}

      {{#form.group as |group|}}
        <div class="flex items-center">
          <div class="w-1/5 text-right pr-4">
            {{#group.label class="mb-2 block text-grey-darker"}}
              Age
            {{/group.label}}
          </div>
          <div class="w-4/5">
            {{group.input
              type="number"
              class="mb-2 p-2 border rounded block w-full"
              placeholder="22"}}
          </div>
        </div>
      {{/form.group}}

      <div class="mt-3 text-right">
        {{#ui-button style="gray" onClick=(action (mut isShowingAddUser) false)}}
          Cancel
        {{/ui-button}}

        {{#form.submit}}
          Add user
        {{/form.submit}}
      </div>
    {{/ui-form}}

  {{/ui-modal}}
{{/if}}
