<h1>Blog posts</h1>

<div class="flex tc">
  <div class="flex-auto ph4">
    {{bar-chart data=authorData}}

    <h2 class='f5 mt3 mb4'>
      Authors
    </h2>
  </div>
  <div class="flex-auto ph4">
    {{bar-chart data=categoryData}}

    <h2 class='f5 mt3 mb4'>
      Categories
    </h2>
  </div>
  <div class="flex-auto ph4">
    {{bar-chart data=commentsData}}

    <h2 class='f5 mt3 mb4'>
      Comments
    </h2>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>
        <a href="" {{action 'sort' 'title'}}>Title</a>
      </th>
      <th>
        <a href="" {{action 'sort' 'author'}}>Author</a>
      </th>
      <th>
        <a href="" {{action 'sort' 'category'}}>Category</a>
      </th>
      <th>
        <a href="" {{action 'sort' 'commentCount'}}>Comments</a>
      </th>
      <th>
        <a href="" {{action 'sort' 'date'}}>Date</a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each posts as |post|}}
      <tr>
        <td>{{post.title}}</td>
        <td>{{post.author}}</td>
        <td>{{post.category}}</td>
        <td>{{post.commentCount}}</td>
        <td>{{moment-format post.date 'MMM D, YYYY'}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
