{{#if flashMessages.queue}}
  <div class="no-events fixed flex flex-col justify-end items-start z-999 h-screen w-screen">
    {{#each flashMessages.queue as |flash|}}
      <div class="
        ml-4 mb-4 text-white bg-black px-4 py-4 shadow rounded-lg fade-up-and-down">
        {{flash.message}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='app'>
  <header class='app-header'>
    <div class="flex items-center">
      <div>
        Acme, Inc.
      </div>

      <div class="ml-auto opacity-50 cursor-pointer">
        <a {{action (toggle "isShowingSpeedControl" this)}}>
          {{fa-icon "gear"}}
        </a>
      </div>
    </div>
  </header>

  <main class='app-main'>
    {{#if isShowingNav}}
      <section class='side-panel'>
        {{#link-to 'dashboard'}}
          Dashboard
        {{/link-to}}
        {{#link-to 'posts'}}
          Blog posts
        {{/link-to}}
        {{#link-to 'tags'}}
          Tags
        {{/link-to}}
        {{#link-to 'users'}}
          Users
        {{/link-to}}
        {{#link-to 'media'}}
          Media
        {{/link-to}}
        {{#link-to 'comments'}}
          Comments
        {{/link-to}}
      </section>
    {{/if}}

    <section class='center-panel'>
      {{outlet}}
    </section>
  </main>
</div>

{{#if isShowingSpeedControl}}
  {{speed-control}}
{{/if}}
