<div class="flex items-center">
  <h1 data-test-id="title">{{model.title}}</h1>

  <p class='pl-8'>
    {{#link-to 'posts.post.edit' model.id class='dim no-underline text-grey-dark'}}
      Edit post
    {{/link-to}}
  </p>
</div>

<div class="flex mb-4 items-center">
  <p class='mr-1'>
    Tags:
  </p>

  <span class='mr-2'>
    <a {{action (toggle 'isEditingTags' this)}}
      class='
        no-underline text-grey-dark rounded-sm
        text-xs inline-block
        flex items-center justify-center
        w-8 h-8 hover:text-black'
      href="#"
      data-modal-attach-id='tag-list'>
      {{fa-icon 'pencil'}}
    </a>
  </span>

  {{tag-list tags=model.tags}}
</div>

<hr class='border-top-0 my-4'>

<div class='leading-normal'>
  {{{model.text}}}
</div>

<h2>
  Activity
</h2>

<div class="leading-normal">
  <ul>
    {{#each (sort-by 'createdAt:desc' model.activities) as |activity|}}
      <li>
        &middot;
        {{activity.text}}
        <span class='pl-2 text-grey-dark'>{{moment-from-now activity.createdAt}}</span>
      </li>
    {{/each}}
  </ul>
</div>

<h2>
  Comments
  {{#if model.comments.length}}
    ({{model.comments.length}})
  {{/if}}
</h2>

<div class='leading-normal'>
  {{#if model.comments}}
    <ul>
      {{#each model.comments as |comment|}}
        {{comment-box comment=comment}}
      {{/each}}
    </ul>
  {{else}}
    <p>This post has no comments.</p>
  {{/if}}
</div>

{{#if isEditingTags}}
  {{posts/post/components/tags-selector
    post=model
    onClose=(action (toggle 'isEditingTags' this))}}
{{/if}}
