<h1>Blog posts</h1>

{{#if error}}
  <h2>{{error}}!</h2>
{{/if}}

{{#if model}}
  <div class="flex text-center">
    <div class="flex-auto px-8">
      {{bar-chart data=authorData
        selectedLabel=selectedAuthor
        on-click=(action 'toggleBar' 'selectedAuthor')}}

      <h2 class='text-base font-normal mt-4 mb-8'>
        Authors
      </h2>
    </div>
    <div class="flex-auto px-8">
      {{bar-chart data=categoryData color='green'
        selectedLabel=selectedCategory
        on-click=(action 'toggleBar' 'selectedCategory')}}

      <h2 class='text-base font-normal mt-4 mb-8'>
        Categories
      </h2>
    </div>
    <div class="flex-auto px-8">
      {{bar-chart data=commentsData color='red'
        selectedLabel=selectedPost
        on-click=(action 'toggleBar' 'selectedPost')}}

      <h2 class='text-base font-normal mt-4 mb-8'>
        Comments
      </h2>
    </div>
  </div>
{{/if}}

{{#if model}}
  <table class='leading-tight'>
    <thead>
      <tr>
        <th>
          <a href="" {{action 'sort' 'title'}}>Title</a>
        </th>
        <th>
          <a href="" {{action 'sort' 'date'}}>Published</a>
        </th>
        <th>
          <a href="" {{action 'sort' 'author'}}>Author</a>
        </th>
        <th>
          Tags
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
    </thead>
    <tbody>

      {{keyboard-press key="KeyJ" on-press=(action (mut navigatedPost) (if navigatedPost (next navigatedPost posts) posts.firstObject))}}
      {{keyboard-press key="KeyK" on-press=(action (mut navigatedPost) (if navigatedPost (previous navigatedPost posts) posts.lastObject))}}
      {{keyboard-press key="Enter" on-press=(action "openPost" navigatedPost)}}

      {{#each posts as |post|}}
        <tr class="
          group
          border-l-4 {{if (eq post navigatedPost) 'border-blue' 'border-transparent'}}">
          <td>
            {{#link-to 'posts.post' post.id class='no-underline text-grey-darkest'}}
              {{post.title}}
            {{/link-to}}
          </td>
          <td>{{moment-format post.date 'MMM D, YYYY'}}</td>
          <td>{{post.author}}</td>
          <td>{{tag-list tags=post.tags}}</td>
          <td class="text-right">
            <a href="#" {{action "showDelete" post}}
              class="hidden group-hover:block no-transition text-grey-dark no-underline">
              {{fa-icon "trash"}}
              <span class="f6">Delete</span>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No blog posts yet - get writing!</p>
{{/if}}

{{#if postToDelete}}
  {{confirm-delete-post
    on-delete=(action "afterDelete")
    on-cancel=(action (mut postToDelete) null)
    post=postToDelete}}
{{/if}}
