<div class="w-3/5 mt-4">
  {{#ui-form onSubmit=(perform save) afterSubmit=(perform afterSave) as |form|}}

    {{#form.group as |group|}}
      {{#let (and form.didSubmit (v-get model "title" "isInvalid")) as |groupIsInvalid|}}
        <div class="mb-4">
          {{#group.label class=(concat
            "text-sm font-semibold block "
            (if groupIsInvalid "text-red" "text-grey-darkest")
          )}}
            Title
          {{/group.label}}
          {{group.input
            value=model.title
            class=(concat
              'w-full mt-1 p-2 border '
              (if groupIsInvalid 'border-red' 'border-grey-lighter')
            )}}
          {{#if groupIsInvalid}}
            <div class="text-red mt-3">
              {{v-get model "title" "messages"}}
            </div>
          {{/if}}
        </div>
      {{/let}}
    {{/form.group}}

    {{#form.group as |group|}}
      <div class="mb-4">
        {{#group.label class="text-sm font-semibold block text-grey-darkest"}}
          Body
        {{/group.label}}
        {{group.textarea value=model.text rows=20
          class='mt-1 p-2 border border-grey-lighter w-full'}}
      </div>
    {{/form.group}}

    <div>
      {{#if form.isSubmitting}}
        The form is saving...
      {{else}}
        The form is idle.
      {{/if}}
    </div>

    <div class="mt-4">
      {{#form.submit data-test-id="save"}}
        Save
      {{/form.submit}}

      {{#ui-button onClick=(action "cancel") style="gray" data-test-id="save"}}
        Cancel
      {{/ui-button}}
    </div>

    {{#if (and form.didSubmit (v-get model "isInvalid"))}}
      <p class='mt-4 text-red' data-test-id="error">
        {{fa-icon 'exclamation-circle'}}
        Whoops - your post was not saved. Please fix the errors above.
      </p>
    {{/if}}

    {{#if (and (v-get model "isValid") save.last.isError)}}
      <p class='mt-4 text-red' data-test-id="error">
        {{fa-icon 'exclamation-circle'}}
        Whoops - your post was not saved. Please try again!
      </p>
    {{/if}}
  {{/ui-form}}
</div>
